## --- AL gitignore ---
## Ignores generated binary files and
## temporary files from Visual Studio and Visual Studio code

# Binary files
.alpackages
.netpackages
*.app
*.exe
*.bat
*.dll

# Generated translation files
*.g.xlf
*untranslated.xlf

# Temp files
.vs/
.vscode/
.altestrunner/

# Others
~$*
*~
.altemplates
.alcache